In [75]:
import pandas as pd
import simpy

In [76]:
base_dados = pd.read_csv("DoaçãoRim.csv", sep=",")

display(base_dados)

,Paciente Id,Data de chegada na fila,date,age_at_list_registration,age_cat,time_on_Dialysis,Prioridade,number_prior_transplant,patient_still_on_list,date_acutal,...,Transplant,Transplant_Y_N,X36MthsTx,Time_Tx,number_removed_list,removed_list,razon_removed,time,event,saida da fila sem transplante
0,1.0,1.0,03/01/2000,52,18.a.60,NaN,1.0,0,Não,43307,...,Sim,Sim,0,493,0.0,Não,NaN,1479,1,NaN
1,2.0,2.0,04/01/2000,51,18.a.60,0.0,0.0,1,Não,43307,...,Não,Não,0,611,1.0,Sim,Removido (suspenso > 365 dias),1833,3,NaN
2,3.0,2.0,04/01/2000,44,18.a.60,24.0,1.0,0,Não,43307,...,Óbito Lista,Não,0,2583,0.0,Não,NaN,775,2,NaN
3,4.0,3.0,05/01/2000,53,18.a.60,6.0,1.0,0,Não,43307,...,Óbito Lista,Não,0,6293,0.0,Não,NaN,1888,2,NaN
4,5.0,4.0,06/01/2000,61,Maior.60,2.0,1.0,0,Não,43307,...,Óbito Lista,Não,0,4087,0.0,Não,NaN,1226,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48148,NaN,NaN,29/12/2017,50,18.a.60,5.0,NaN,0,Não,43307,...,Sim,Sim,1,197,NaN,Não,NaN,59,1,NaN
48149,NaN,NaN,29/12/2017,59,18.a.60,5.0,NaN,0,Sim,43307,...,Não,Não,0,697,NaN,Não,NaN,209,0,NaN
48150,NaN,NaN,29/12/2017,68,Maior.60,11.0,NaN,0,Sim,43307,...,Não,Não,0,697,NaN,Não,NaN,209,0,NaN
48151,NaN,NaN,29/12/2017,56,18.a.60,6.0,NaN,0,Sim,43307,...,Não,Não,0,697,NaN,Não,NaN,209,0,NaN
48152,NaN,NaN,29/12/2017,2,Menor.18,17.0,NaN,0,Sim,43307,...,Não,Não,0,697,NaN,Não,NaN,209,0,NaN

## Mantendo apenas os dados que serão utilizados

In [77]:
remover = base_dados.drop(columns=["age_cat","time_on_Dialysis","date_acutal","Time_death","Transplant_Y_N","X36MthsTx","Time_Tx","event","razon_removed"])

remover.head()

,Paciente Id,Data de chegada na fila,date,age_at_list_registration,Prioridade,number_prior_transplant,patient_still_on_list,death,Sem transplante,Transplant,number_removed_list,removed_list,time,saida da fila sem transplante
0,1.0,1.0,03/01/2000,52,1.0,0,Não,Não,1.0,Sim,0.0,Não,1479,NaN
1,2.0,2.0,04/01/2000,51,0.0,1,Não,Não,0.0,Não,1.0,Sim,1833,NaN
2,3.0,2.0,04/01/2000,44,1.0,0,Não,Sim,0.0,Óbito Lista,0.0,Não,775,NaN
3,4.0,3.0,05/01/2000,53,1.0,0,Não,Sim,0.0,Óbito Lista,0.0,Não,1888,NaN
4,5.0,4.0,06/01/2000,61,1.0,0,Não,Sim,0.0,Óbito Lista,0.0,Não,1226,NaN

In [78]:
dataChegada = base_dados['Data de chegada na fila']
idPaciente = base_dados['Paciente Id']
tempo = base_dados['time']
prioridade = base_dados['Prioridade']
transplanteOcorreu = base_dados['Sem transplante']
def passandoLista(coluna):
    lista = []

    for item in coluna:
        lista.append(int(item))
        
    return lista





dataChegada100 = dataChegada[:100]
idPaciente100 = idPaciente[:100]
tempo100 = tempo[:100]
prioridade100 = prioridade[:100]
transplanteOcorreu100 = transplanteOcorreu[:100]
passandoLista(dataChegada100)

[1,
 2,
 2,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 6,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15]

In [79]:
passandoLista(idPaciente100)
passandoLista(tempo100)
passandoLista(prioridade100)

[1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [97]:
#Simulação com tempo médio para transplante

def fila(env, recurso, paciente, chegada, saiuFila, prioridade, saida):
    yield env.timeout(chegada)
    saiuFila_list = [saiuFila]
   
    with recurso.request(priority=prioridade) as req:
        yield req
        print("Paciente:", paciente, 'atendida em', env.now)
        for index, item in enumerate(saiuFila_list):
            if item == 0:
                print("Paciente:", paciente, "saiu da fila em", saida)
                saiuFila_list[index] = 1
                break
        else:
            yield env.timeout(1745)
            print(paciente, 'saiu do atendimento em', env.now)

env = simpy.Environment()
recurso = simpy.PriorityResource(env, capacity=20)
for i in range(100):
    env.process(fila(env, recurso, idPaciente100[i], dataChegada100[i], transplanteOcorreu100[i], prioridade100[i], tempo100[i]))

env = simpy.Environment()
recurso = simpy.PriorityResource(env, capacity=20)
for i in range(100):
    env.process(fila(env, recurso, idPaciente100[i], dataChegada100[i], transplanteOcorreu100[i], prioridade100[i], tempo100[i]))


# env.process(fila(env, recurso, 'Maria', 0, 0, 0))
# env.process(fila(env, recurso, 'Paula', 2, 2, 1))
# env.process(fila(env, recurso, 'Paulo', 6, 4, 1))
# env.process(fila(env, recurso, 'Alana', 0, 0, 1))
# env.process(fila(env, recurso, 'Sandra', 0, 0, 0))

env.run()

Paciente: 1.0 atendida em 1.0
Paciente: 2.0 atendida em 2.0
Paciente: 2.0 saiu da fila em 1833
Paciente: 3.0 atendida em 2.0
Paciente: 3.0 saiu da fila em 775
Paciente: 4.0 atendida em 3.0
Paciente: 4.0 saiu da fila em 1888
Paciente: 5.0 atendida em 4.0
Paciente: 5.0 saiu da fila em 1226
Paciente: 6.0 atendida em 4.0
Paciente: 6.0 saiu da fila em 5329
Paciente: 7.0 atendida em 4.0
Paciente: 8.0 atendida em 4.0
Paciente: 9.0 atendida em 4.0
Paciente: 10.0 atendida em 4.0
Paciente: 10.0 saiu da fila em 6776
Paciente: 11.0 atendida em 4.0
Paciente: 11.0 saiu da fila em 6434
Paciente: 12.0 atendida em 4.0
Paciente: 12.0 saiu da fila em 1831
Paciente: 13.0 atendida em 4.0
Paciente: 13.0 saiu da fila em 1904
Paciente: 14.0 atendida em 4.0
Paciente: 15.0 atendida em 4.0
Paciente: 15.0 saiu da fila em 1301
Paciente: 16.0 atendida em 4.0
Paciente: 17.0 atendida em 4.0
Paciente: 17.0 saiu da fila em 4436
Paciente: 18.0 atendida em 4.0
Paciente: 18.0 saiu da fila em 6006
Paciente: 19.0 atendida em 4.0
Paciente: 19.0 saiu da fila em 2483
Paciente: 20.0 atendida em 4.0
Paciente: 20.0 saiu da fila em 1544
Paciente: 21.0 atendida em 4.0
Paciente: 21.0 saiu da fila em 1925
Paciente: 22.0 atendida em 4.0
Paciente: 22.0 saiu da fila em 2329
Paciente: 23.0 atendida em 4.0
Paciente: 24.0 atendida em 4.0
Paciente: 24.0 saiu da fila em 3805
Paciente: 25.0 atendida em 4.0
Paciente: 25.0 saiu da fila em 5014
Paciente: 26.0 atendida em 4.0
Paciente: 26.0 saiu da fila em 2265
Paciente: 27.0 atendida em 4.0
Paciente: 27.0 saiu da fila em 3879
Paciente: 28.0 atendida em 4.0
Paciente: 28.0 saiu da fila em 3876
Paciente: 29.0 atendida em 4.0
Paciente: 29.0 saiu da fila em 4555
Paciente: 30.0 atendida em 4.0
Paciente: 31.0 atendida em 4.0
Paciente: 31.0 saiu da fila em 2080
Paciente: 32.0 atendida em 4.0
Paciente: 32.0 saiu da fila em 1972
Paciente: 33.0 atendida em 4.0
Paciente: 34.0 atendida em 4.0
Paciente: 35.0 atendida em 4.0
Paciente: 35.0 saiu da fila em 2638
Paciente: 36.0 atendida em 4.0
Paciente: 36.0 saiu da fila em 6776
Paciente: 37.0 atendida em 4.0
Paciente: 37.0 saiu da fila em 1237
Paciente: 38.0 atendida em 4.0
Paciente: 38.0 saiu da fila em 1312
Paciente: 39.0 atendida em 4.0
Paciente: 39.0 saiu da fila em 4404
Paciente: 40.0 atendida em 4.0
Paciente: 40.0 saiu da fila em 3226
Paciente: 41.0 atendida em 4.0
Paciente: 41.0 saiu da fila em 1524
Paciente: 42.0 atendida em 4.0
Paciente: 42.0 saiu da fila em 2212
Paciente: 43.0 atendida em 5.0
Paciente: 43.0 saiu da fila em 2686
Paciente: 44.0 atendida em 6.0
Paciente: 44.0 saiu da fila em 6351
Paciente: 45.0 atendida em 7.0
Paciente: 45.0 saiu da fila em 1826
Paciente: 46.0 atendida em 7.0
Paciente: 46.0 saiu da fila em 4958
Paciente: 47.0 atendida em 7.0
Paciente: 47.0 saiu da fila em 2891
Paciente: 48.0 atendida em 8.0
Paciente: 48.0 saiu da fila em 4231
Paciente: 49.0 atendida em 8.0
Paciente: 49.0 saiu da fila em 2352
Paciente: 50.0 atendida em 8.0
Paciente: 50.0 saiu da fila em 1747
Paciente: 51.0 atendida em 8.0
Paciente: 52.0 atendida em 8.0
Paciente: 52.0 saiu da fila em 2060
Paciente: 53.0 atendida em 8.0
Paciente: 54.0 atendida em 8.0
Paciente: 54.0 saiu da fila em 1365
Paciente: 55.0 atendida em 8.0
Paciente: 55.0 saiu da fila em 1680
Paciente: 56.0 atendida em 8.0
Paciente: 56.0 saiu da fila em 1271
Paciente: 57.0 atendida em 8.0
Paciente: 58.0 atendida em 9.0
Paciente: 59.0 atendida em 10.0
Paciente: 59.0 saiu da fila em 1358
Paciente: 60.0 atendida em 10.0
Paciente: 61.0 atendida em 10.0
Paciente: 61.0 saiu da fila em 6372
Paciente: 62.0 atendida em 10.0
Paciente: 63.0 atendida em 11.0
Paciente: 63.0 saiu da fila em 1021
Paciente: 64.0 atendida em 11.0
Paciente: 64.0 saiu da fila em 1534
Paciente: 65.0 atendida em 11.0
Paciente: 65.0 saiu da fila em 1588
Paciente: 66.0 atendida em 11.0
Paciente: 66.0 saiu da fila em 6764
Paciente: 67.0 atendida em 11.0
Paciente: 67.0 saiu da fila em 1819
Paciente: 68.0 atendida em 11.0
Paciente: 69.0 atendida em 11.0
Paciente: 70.0 atendida em 11.0
Paciente: 70.0 saiu da fila em 624
Paciente: 71.0 atendida em 11.0
Paciente: 71.0 saiu da fila em 1392
Paciente: 72.0 atendida em 11.0
Paciente: 72.0 saiu da fila em 1821
Paciente: 73.0 atendida em 12.0
Paciente: 73.0 saiu da fila em 2574
Paciente: 74.0 atendida em 12.0
Paciente: 74.0 saiu da fila em 1661
Paciente: 75.0 atendida em 12.0
Paciente: 75.0 saiu da fila em 6561
Paciente: 76.0 atendida em 13.0
Paciente: 76.0 saiu da fila em 1834
Paciente: 77.0 atendida em 13.0
Paciente: 77.0 saiu da fila em 1314
Paciente: 78.0 atendida em 13.0
Paciente: 78.0 saiu da fila em 3134
Paciente: 79.0 atendida em 13.0
Paciente: 79.0 saiu da fila em 3794
Paciente: 80.0 atendida em 13.0
Paciente: 80.0 saiu da fila em 3872
Paciente: 81.0 atendida em 13.0
Paciente: 81.0 saiu da fila em 1436
Paciente: 82.0 atendida em 13.0
Paciente: 82.0 saiu da fila em 2337
Paciente: 83.0 atendida em 13.0
Paciente: 83.0 saiu da fila em 1600
Paciente: 84.0 atendida em 13.0
Paciente: 84.0 saiu da fila em 1374
Paciente: 85.0 atendida em 13.0
Paciente: 85.0 saiu da fila em 1834
Paciente: 86.0 atendida em 13.0
Paciente: 86.0 saiu da fila em 2101
Paciente: 87.0 atendida em 13.0
Paciente: 87.0 saiu da fila em 1922
Paciente: 88.0 atendida em 13.0
Paciente: 89.0 atendida em 13.0
Paciente: 89.0 saiu da fila em 2245
Paciente: 90.0 atendida em 14.0
Paciente: 90.0 saiu da fila em 615
Paciente: 91.0 atendida em 14.0
1.0 saiu do atendimento em 1746.0
Paciente: 92.0 atendida em 1746.0
Paciente: 92.0 saiu da fila em 953
Paciente: 93.0 atendida em 1746.0
Paciente: 93.0 saiu da fila em 1810
Paciente: 94.0 atendida em 1746.0
7.0 saiu do atendimento em 1749.0
8.0 saiu do atendimento em 1749.0
9.0 saiu do atendimento em 1749.0
14.0 saiu do atendimento em 1749.0
16.0 saiu do atendimento em 1749.0
23.0 saiu do atendimento em 1749.0
30.0 saiu do atendimento em 1749.0
33.0 saiu do atendimento em 1749.0
34.0 saiu do atendimento em 1749.0
Paciente: 95.0 atendida em 1749.0
Paciente: 95.0 saiu da fila em 1813
Paciente: 96.0 atendida em 1749.0
Paciente: 96.0 saiu da fila em 1119
Paciente: 97.0 atendida em 1749.0
Paciente: 97.0 saiu da fila em 6755
Paciente: 98.0 atendida em 1749.0
Paciente: 98.0 saiu da fila em 5470
Paciente: 99.0 atendida em 1749.0
Paciente: 99.0 saiu da fila em 5378
Paciente: 100.0 atendida em 1749.0
Paciente: 100.0 saiu da fila em 3260
51.0 saiu do atendimento em 1753.0
53.0 saiu do atendimento em 1753.0
57.0 saiu do atendimento em 1753.0
58.0 saiu do atendimento em 1754.0
60.0 saiu do atendimento em 1755.0
62.0 saiu do atendimento em 1755.0
68.0 saiu do atendimento em 1756.0
69.0 saiu do atendimento em 1756.0
88.0 saiu do atendimento em 1758.0
91.0 saiu do atendimento em 1759.0
94.0 saiu do atendimento em 3491.0

In [104]:
#Simulação da fila com as entradas e saídas da base de dados

def fila(env, recurso, paciente, chegada, saiuFila, prioridade, saida):
    yield env.timeout(chegada)
    saiuFila_list = [saiuFila]
   
    with recurso.request(priority=prioridade) as req:
        yield req
        print("Paciente:", paciente, 'atendida em', env.now)
        for index, item in enumerate(saiuFila_list):
            if item == 0:
                print("Paciente:", paciente, "saiu da fila em", saida)
                saiuFila_list[index] = 1
                break
        else:
            yield env.timeout(1745)
            print(paciente, 'saiu do atendimento em', env.now)

env = simpy.Environment()
recurso = simpy.PriorityResource(env, capacity=20)
for i in range(100):
    env.process(fila(env, recurso, idPaciente100[i], dataChegada100[i], transplanteOcorreu100[i], prioridade100[i], tempo100[i]))

env.run()